
<div class="sideL">
    <div class="page-breadcrumb p-t-5 p-b-5 p-l-5 p-r-5">
        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" class="align-self-center">
                <h3 class="page-title text-themecolor m-0"> <b> Solicitud de Devolución</b> </h3>
            </div>
            <div fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="100" class="align-self-center">
                <div class="breadcrumb d-flex align-items-center float-right float-sm-left">             
                    <ul class="list-style-none d-flex align-items-center">
                        <li class="breadcrumb-item ">
                            <h5 class="m-0"><b>{{devolucionArr.estatus}}</b> </h5> 
                        </li>
                     <!--    
                        <li class="breadcrumb-item abajo" >
                            <mat-form-field appearance="outline" class="p-r-15 m-r-15 abajo">                         
                                <mat-label>Siguiente Tarea</mat-label>
                                <mat-select placeholder="" [(ngModel)]="devolucionArr.estatus" (selectionChange)="cambiaWork($event,devolucionArr)" name="SelEstatus" placeholder="Workflow"  [disabled]="bloqueo" >
                                    <mat-option *ngFor="let work of workInicial" [value]="work.siguienteEstatus">
                                        {{work.opcion}}
                                    </mat-option>
                                </mat-select>
                        </mat-form-field>
                    </li>
                   
                        [disabled]="bloqueoWf=='0'" (change)="valida($event)"
                      
                    <li class="breadcrumb-item" >
                        <button mat-raised-button class="arriba2" color="primary" (click)=aceptarDialog() [disabled]="btnGda !== '1'"> <mat-icon>save</mat-icon> </button>
                    </li>
                    -->  
                    <li class="breadcrumb-item" >
                        <button mat-raised-button (click)=cerrarDialog() color="warn"> <mat-icon>highlight_off</mat-icon> </button>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div fxLayout="row wrap"> <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="align-self-center">  <h4><b>&nbsp;<br></b> </h4></div></div>
<form #userForm="ngForm">
    <div fxLayout="row wrap">
        <div fxFlex="100">
            <mat-tab-group>
                <mat-tab label="Datos"> 
                    <br>
                        <div fxLayout="row wrap" class="align-items-center">
                            <div fxFlex="100" fxFlex.gt-xs="50">
                                <div class="m-r-15 m-l-15">
                                    <mat-form-field appearance="outline" class="p-r-15 m-r-15">                         
                                        <mat-label>Empresa</mat-label>
                                        <mat-select required placeholder="Empresa" [(ngModel)]="reporte.idEmpresa" id="idEmpresa" name="idEmpresa" disabled>
                                            <mat-option *ngFor="let emp of Empresas" [value]="emp.id">
                                                {{emp.clave}}
                                            </mat-option>
                                        </mat-select>                      
                                    </mat-form-field> 
                                </div>
                            </div>
                            <div fxFlex="100" fxFlex.gt-xs="50">
                                <div class="m-r-15 m-l-15">
                                    <mat-form-field appearance="outline" class="p-r-15 m-r-15">                         
                                        <mat-label>Centro de Costos</mat-label>
                                        <mat-select required placeholder="Centro de Costos" [(ngModel)]="reporte.idCentrosCostos" id="idCentrosCostos" name="idCentrosCostos" disabled >
                                            <mat-option *ngFor="let centro of CentroCosto" [value]="centro.idCentrosCostos">
                                                {{centro.descripcionCentrosCostos}}
                                            </mat-option>
                                        </mat-select>                      
                                    </mat-form-field> 
                                </div>
                            </div>
                            <div fxFlex="100" fxFlex.gt-xs="50">
                                <div class="m-r-15 m-l-15">
                                    <mat-form-field appearance="outline" class="p-r-15 m-r-15">                         
                                        <mat-label>Nombre</mat-label>
                                        <input type="text" matInput id="NombreCompleto" name="NombreCompleto" [(ngModel)]="reporte.NombreCompleto" disabled placeholder="Nombre">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxFlex="100" fxFlex.gt-xs="50">
                                <div class="m-r-15 m-l-15">
                                    <mat-form-field appearance="outline" class="p-r-15 m-r-15">                         
                                        <mat-label>RF-ID</mat-label>
                                        <input type="text" matInput id="idUser" name="idUser" [(ngModel)]="Devolucion.id" disabled placeholder="RR-ID">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxFlex="100" fxFlex.gt-xs="50">
                                <div class="m-r-15 m-l-15">
                                    <mat-form-field appearance="outline" class="p-r-15 m-r-15">                         
                                        <mat-label>Monto</mat-label>
                                        <input type="text" matInput id="monto" name="monto" [(ngModel)]="Devolucion.devoMontoAutorizado" disabled placeholder="monto">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxFlex="100" fxFlex.gt-xs="50">
                                <div class="m-r-15 m-l-15">
                                    <mat-form-field appearance="outline" class="p-r-15 m-r-15">         
                                        <mat-label>Fecha Registro</mat-label>
                                        <input matInput [(ngModel)]="reporte.fechaReg" [matDatepicker]="fechaReg" name="fechaReg" disabled>                      
                                        <mat-datepicker-toggle matSuffix [for]="fechaReg"></mat-datepicker-toggle>
                                        <mat-datepicker #fechaReg></mat-datepicker>
                                      </mat-form-field>
                                </div>
                            </div>    
                            <div fxFlex="100" fxFlex.gt-xs="50">
                                <div class="m-r-15 m-l-15">
                                    <mat-form-field appearance="outline" class="p-r-15 m-r-15">                         
                                        <mat-label>Anticipo APR-ID</mat-label>
                                        <input type="text" matInput id="idAnticipoFondos" name="idAnticipoFondos" [(ngModel)]="reporte.idAnticipoFondos" disabled placeholder="Anticipo APR-ID">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxFlex="100" fxFlex.gt-xs="50">
                                <div class="m-r-15 m-l-15">
                                    <mat-form-field appearance="outline" class="p-r-15 m-r-15">                         
                                        <mat-label>Reporte Gastos EXR-ID</mat-label>
                                        <input type="text" matInput id="id" name="id" [(ngModel)]="reporte.id" disabled placeholder="Reporte Gastos EXR-ID">
                                    </mat-form-field> 
                                </div>
                            </div>
                            <!--
                            <div fxFlex="100" fxFlex.gt-xs="100">
                                <div class="m-r-15 m-l-15">
                                    <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                                        <mat-label>Motivo</mat-label>
                                        <textarea matInput rows="3" id="observaciones" name="observaciones" [(ngModel)]="devolucionArr.observaciones" ></textarea>
                                </mat-form-field>
                                </div>
                            </div>
                            
                            <div fxFlex="100" fxFlex.gt-xs="100">
                                <mat-tab-group>
                                    <mat-tab label="Vista Previa">
                                        <mat-card-content>
                                            <div class="d-flex align-items-center m-b-15">
                                                <img src="assets/images/ejemplos/documento.png" class="png-icon" width="100%">
                                            </div>
                                        </mat-card-content>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>    
                            -->
                        </div>
                </mat-tab>
                <!--
                <mat-tab label="Documento"> 
                </mat-tab>-->
                <mat-tab label="Historial"> 
                    <div class="table-responsive">
                        <table mat-table [dataSource]="Historial" matSort class="table employee-list no-wrap">
                            <ng-container matColumnDef="fechaRegistro">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha/Hora de Registro </th>
                                    <td mat-cell *matCellDef="let element"> {{element.fechaRegistro | date :'dd/MMM/yyyy'}} </td>
                            </ng-container>
            
                            <ng-container matColumnDef="idUser">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario</th>
                                    <td mat-cell *matCellDef="let element"> {{element.idUser}} </td>
                            </ng-container>
            
                            <ng-container matColumnDef="evento">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Evento</th>
                                    <td mat-cell *matCellDef="let element"> {{element.evento}} </td>
                            </ng-container>
            
                            <ng-container matColumnDef="estatus">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
                                    <td mat-cell *matCellDef="let element"> {{element.estatus}} </td>
                            </ng-container>
            
                            <ng-container matColumnDef="comentarios">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Comentarios</th>
                                    <td mat-cell *matCellDef="let element"> {{element.comentarios}} </td>
                            </ng-container>
            
                            <tr mat-header-row *matHeaderRowDef="histColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: histColumns;"></tr>
                        </table>
                        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</form>