<div class="sideL">
    <div class="page-breadcrumb p-t-5 p-b-5 p-l-5 p-r-5">
        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" class="align-self-center">
                <h3 class="page-title text-themecolor m-0"><b>Reporte de Gastos</b></h3>
            </div>
            <div fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="100" class="align-self-center">
                <div class="breadcrumb d-flex align-items-center float-right float-sm-left">             
                    <ul class="list-style-none d-flex align-items-center">
                        <li class="breadcrumb-item ">
                            <h5 class="m-0">                                
                                <div *ngIf='reporte.estatus === "Aprobado" || reporte.estatus === "Pagado"'>
                                    <b class="verde"> {{reporte.estatus}} </b>
                                </div>
                            
                            
                                <div *ngIf='reporte.estatus != "Aprobado" && reporte.estatus != "Pagado"' >
                                    <b> {{reporte.estatus}} </b>
                                </div>
                            </h5>
                        </li>
                        <li class="breadcrumb-item abajo" >
                            <mat-form-field appearance="outline" class="p-r-15 m-r-15 abajo">                         
                                <mat-label>Siguiente Tarea</mat-label>
                                <mat-select placeholder="" [(ngModel)]="reporte.estatus" (selectionChange)="cambiaWork($event,reporte)" name="SelEstatus" placeholder="Workflow" [disabled]="bloqueoWf=='0'" (change)="valida($event)" >
                                    <mat-option *ngFor="let work of workInicial" [value]="work.siguienteEstatus">
                                        {{work.opcion}}
                                    </mat-option>
                                </mat-select>
                        </mat-form-field>
                        </li>
                        <li class="breadcrumb-item"> 
                            <button mat-raised-button class="arriba2" color="primary" (click)=guardarReporteGasto()  [disabled]="btnGda !== '1'"> <mat-icon>save</mat-icon> </button>
                        </li>
                        <li class="breadcrumb-item" >
                            <button mat-raised-button (click)=cerrarReporteGasto() color="warn"> <mat-icon>highlight_off</mat-icon> </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div fxLayout="row wrap"> <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="align-self-center">  <h4><b>&nbsp;<br></b> </h4></div></div>


<div fxLayout="row wrap">
    <div fxFlex="100">
        <form #userForm="ngForm">
            
        <mat-tab-group>
            <mat-tab label="Datos"> 
                <mat-accordion class="example-headers-align">
                    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <b> Datos Iniciales de Reporte de Gastos</b>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                
                    <div fxLayout="row wrap" class="align-items-center">
                       
                        <div fxFlex="100" fxFlex.gt-xs="50">
                            <div class="m-r-15 m-l-15">
                                <mat-form-field appearance="outline" class="p-r-15 m-r-15" floatLabel="always">                         
                                    <mat-label>C-ID</mat-label>
                                    <input type="text" matInput id="idUser" name="idUser" [(ngModel)]="reporte.idUser" disabled >
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50">
                            <div class="m-r-15 m-l-15">
                                <mat-form-field appearance="outline" class="p-r-15 m-r-15" floatLabel="always">                         
                                    <mat-label>Nombre</mat-label>
                                    <input type="text" matInput id="NombreCompleto" name="NombreCompleto" [(ngModel)]="reporte.NombreCompleto" disabled >
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50">
                            <div class="m-r-15 m-l-15">
                                <mat-form-field appearance="outline" class="p-r-15 m-r-15" floatLabel="always">                         
                                    <mat-label>Fecha Registro</mat-label>
                                    <input type="text" matInput id="FechaReg" name="FechaReg" [(ngModel)]="reporte.fechaReg" disabled >
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50">
                            <div class="m-r-15 m-l-15">
                                <mat-form-field appearance="outline" class="p-r-15 m-r-15" floatLabel="always">                         
                                    <mat-label>Empresa</mat-label>
                                    <mat-select required [(ngModel)]="reporte.idEmpresa" id="idEmpresa" name="idEmpresa" (selectionChange)="cambiaEmp($event,reporte)" [disabled]="blockInput">
                                        <mat-option value="option2" disabled>- Seleccione Opción -</mat-option>
                                        <mat-option *ngFor="let emp of Empresas" [value]="emp.id">
                                            {{emp.clave}}
                                        </mat-option>
                                    </mat-select>                      
                                </mat-form-field> 
                            </div>
                        </div>  
                        <div fxFlex="100" fxFlex.gt-xs="50">
                            <div class="m-r-15 m-l-15">
                                <mat-form-field appearance="outline" class="p-r-15 m-r-15" floatLabel="always">                         
                                    <mat-label>Proyecto</mat-label>
                                    <mat-select required  [(ngModel)]="reporte.idProyecto" id="idProyecto" name="idProyecto" (selectionChange)="cambiaProy($event,reporte)" [disabled]="blockInput" >
                                        <!--<mat-option value="option2" disabled>- Seleccione Opción -</mat-option>-->
                                        <mat-option *ngFor="let proy of Proyectos" [value]="proy.idProyecto">
                                            {{proy.descripcionProyecto}}
                                        </mat-option>
                                    </mat-select>                      
                                </mat-form-field> 
                            </div>
                        </div> 
                        <div fxFlex="100" fxFlex.gt-xs="50">
                            <div class="m-r-15 m-l-15">
                                <mat-form-field appearance="outline" class="p-r-15 m-r-15" floatLabel="always">                         
                                    <mat-label>Centro de Costos</mat-label>
                                    <mat-select required placeholder="Centro de Costos" [(ngModel)]="reporte.idCentrosCostos" id="idCentrosCostos" name="idCentrosCostos" (selectionChange)="cambiaCC($event,reporte)" [disabled]="blockInput"  >
                                        <!--<mat-option value="option2" disabled>- Seleccione Opción -</mat-option>-->
                                        <mat-option *ngFor="let centro of CentroCosto" [value]="centro.idCentrosCostos">
                                            {{centro.descripcionCentrosCostos}}
                                        </mat-option>
                                    </mat-select>                      
                                </mat-form-field> 
                            </div>
                        </div> 
                        
                        <div fxFlex="100" fxFlex.gt-xs="50">
                            <div class="m-r-15 m-l-15">
                            <mat-form-field appearance="outline" class="p-r-15 m-r-15" floatLabel="always">
                                <mat-label>Motivo del Reporte</mat-label>
                                <input type="text" matInput id="notas" name="notas" [(ngModel)]="reporte.notas" placeholder="Motivo del Reporte" [disabled]="blockInput">
                            </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50">
                            <div class="m-r-15 m-l-15">
                                <mat-form-field appearance="outline" class="p-r-15 m-r-15" floatLabel="always">                         
                                    <mat-label>ID-R</mat-label>
                                    <input type="text" matInput id="idRep" name="idRep" [(ngModel)]="reporte.id" disabled >
                                </mat-form-field>
                            </div>
                        </div>
                        
                        <div fxFlex="100" fxFlex.gt-xs="50">
                            <div class="m-r-15 m-l-15">
                                <mat-form-field appearance="outline" class="p-r-15 m-r-15" floatLabel="always">         
                                    <mat-label>Fecha Inicial</mat-label>
                                    <input matInput [(ngModel)]="FechaI" [max]="fechaHoy" [matDatepicker]="fechaIni" (dateChange)="CalcDias($event,reporte,1)" name="fechaIni" (input)="valida($event)" [disabled]="blockInput">                      
                                    <mat-datepicker-toggle matSuffix [for]="fechaIni"></mat-datepicker-toggle>
                                    <mat-datepicker #fechaIni></mat-datepicker>
                                  </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50">
                            <div class="m-r-15 m-l-15">
                                <mat-form-field appearance="outline" class="p-r-15 m-r-15" floatLabel="always">         
                                    <mat-label>Fecha Final</mat-label>
                                    <input matInput [(ngModel)]="FechaF" [max]="fechaHoy" [matDatepicker]="fechaFin" (dateChange)="CalcDias($event,reporte,2)" name="fechaFin" (input)="valida($event)" [disabled]="blockInput">                      
                                    <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
                                    <mat-datepicker #fechaFin></mat-datepicker>
                                  </mat-form-field>
                            </div>
                        </div>    
                        <div fxFlex="100" fxFlex.gt-xs="50">
                            <div class="m-r-15 m-l-15">
                                <mat-form-field appearance="outline" class="p-r-15 m-r-15" floatLabel="always">
                                    <mat-label>Tipo Solicitud</mat-label>
                                    <mat-select  [(ngModel)]="reporte.idUsoFondos"
                                        id="idUsoFondos" name="idUsoFondos"
                                        (selectionChange)="cambiaTipoSol($event,reporte)" [disabled]="blockInput">
                                        <mat-option *ngFor="let tipo of TipoSol" [value]="tipo.id">
                                            {{tipo.descripcion}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50">
                            <div class="m-r-15 m-l-15">
                            <mat-form-field appearance="outline" class="p-r-15 m-r-15" floatLabel="always">
                                <mat-label>Dias de Duración</mat-label>
                                <input type="text" matInput id="diasDura" name="diasDura" [(ngModel)]="reporte.diasDura"  disabled>
                            </mat-form-field>
                            </div>
                        </div> 

                        <div fxFlex="100" fxFlex.gt-xs="50">
                            <div class="m-r-15 m-l-15">
                                <a (click)="AnticipoDialog('Agrega',reporte)">
                                    <button mat-raised-button color="primary" [disabled]="blockInput"><img src="assets/images/iconos/Icono_agrega_registro_BLANCO.png" class="png-icon" width="20"> Asociar Anticipo</button>
                                </a>
                                <br><br>
                            </div>
                        </div>   
                        <div fxFlex="100" fxFlex.gt-xs="50">
                            <div class="m-r-15 m-l-15">
                                <mat-form-field appearance="outline" class="p-r-15 m-r-15" floatLabel="always">
                                    <mat-label>Id Ancticipo</mat-label>
                                    <input type="text" matInput id="idAnticipoFondos" name="idAnticipoFondos" [(ngModel)]="reporte.idAnticipoFondos"  disabled>
                                </mat-form-field>
                                <!-- 
                                <mat-form-field appearance="outline" class="p-r-15 m-r-15" floatLabel="always">
                                    <mat-label>Moneda</mat-label>
                                    <mat-select placeholder="Moneda" [(ngModel)]="reporte.idMoneda"
                                        id="Moneda" name="Moneda" (selectionChange)="cambiaMoneda($event,reporte)"
                                        [disabled]="bloqAnt">
                                        <mat-option *ngFor="let moned of MonedaL" [value]="moned.id">
                                            {{moned.clave}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                -->
                            </div>
                        </div>  
                        <div fxFlex="100" fxFlex.gt-xs="50">
                            <div class="m-r-15 m-l-15">
                            </div>
                        </div>
                        
                        <div fxFlex="100" fxFlex.gt-xs="50">
                            <div class="m-r-15 m-l-15">
                            <mat-form-field appearance="outline" class="p-r-15 m-r-15" floatLabel="always">
                                <mat-label>Monto Anticipo</mat-label>
                                <input type="text" matInput id="monto" name="monto" [value]="numerico(reporte.monto)" disabled>
                            </mat-form-field>
                            </div>
                        </div>
                    </div>


                    <mat-action-row>
                        <button mat-raised-button color="primary" (click)="nextStep()">Siguiente</button>
                    </mat-action-row>
                    </mat-expansion-panel>
                
                    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <b>Lista de Comprobantes de Gastos</b>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-xs="100">
                            <div class="m-r-15 m-l-15">
                                <a (click)="GastoDialog('Agrega',reporte)">
                                    <button mat-raised-button color="primary" [disabled]="blockInput"><img src="assets/images/iconos/Icono_agrega_registro_BLANCO.png" class="png-icon" width="20"> Asociar Gastos</button>
                                </a>
                            </div>
                        </div> 
                    </div>

                    <div fxLayout="row wrap">
                        <div fxFlex="100">
                            <div class="example-container mat-elevation-z3">
                            <mat-card>
                                <mat-card-content>
                                    <div class="table-responsive">

                                        <table mat-table [dataSource]="GastosList"  #sort="matSort" matSort  class="table employee-list no-wrap" multiTemplateDataRows>
                                            <!-- Checkbox Column mat-sort-header-->
                                           <ng-container matColumnDef="vista">
                                                <th mat-header-cell *matHeaderCellDef> Ver </th>
                                                <td mat-cell *matCellDef="let element">
                                                  <a mat-button  (click)="element.isExpanded = !element.isExpanded"><mat-icon>add_circle</mat-icon>  </a>
                                                </td>
                                              </ng-container>
                        
                                            <ng-container matColumnDef="id">
                                                <th mat-header-cell *matHeaderCellDef >Id Gasto</th>
                                                <td mat-cell *matCellDef="let element"> {{element.id}}</td>
                                            </ng-container>
                                            
                                            <ng-container matColumnDef="tipodegasto">
                                                <th mat-header-cell *matHeaderCellDef >Tipo Gasto</th>
                                                <td mat-cell *matCellDef="let element"> 
                                                    <mat-form-field floatLabel="never" class="input-tam2">                                                                            
                                                            <mat-label>Tipo de Gasto</mat-label>
                                                            <mat-select required placeholder="Tipo de Gasto" [value]="element.idTipoGasto" id="idTipoGasto" name="idTipoGasto" (selectionChange)="Cambio($event,element,'idTipoGasto')"  disabled><!--  [disabled]="bloqTieneAnt" [disabled]="element.blockCaptura"-->
                                                                <mat-option value="option2" disabled>- Seleccione Opción -</mat-option>
                                                                <mat-option *ngFor="let tipo of TipoGstGral" [value]="tipo.idTipoGastos">
                                                                    {{tipo.nombreGasto}}
                                                                </mat-option>
                                                            </mat-select>   
                                                    </mat-form-field>
                                                </td>

                                            </ng-container>

                                            <ng-container matColumnDef="fechaGasto">
                                                <th mat-header-cell *matHeaderCellDef >Fecha Gasto</th>
                                                <td mat-cell *matCellDef="let element">
                                                    <mat-form-field floatLabel="never" class="input-tam2">       
                                                        <mat-label>Selecciona fecha de Gasto</mat-label>
                                                        <input matInput  [value]="element.fechaGasto" [min]="reporte.fechaIni" [max]="reporte.fechaFin" [matDatepicker]="fechaGasto" (dateChange)="Cambio($event,element,'fchGsto')" [disabled]="blockInput" [disabled]="element.blockCaptura">                      
                                                        <mat-datepicker-toggle matSuffix [for]="fechaGasto"></mat-datepicker-toggle>
                                                        <mat-datepicker #fechaGasto></mat-datepicker>
                                                    </mat-form-field>
                                                  </td>
                                            </ng-container>

                                            <ng-container matColumnDef="fechaEmision">
                                                <th mat-header-cell *matHeaderCellDef >Fecha Comprobante</th>
                                                <td mat-cell *matCellDef="let element"> {{element.fechaEmision | date :'dd/MM/yyyy'}}</td>
                                            </ng-container>                                            

                                            <ng-container matColumnDef="TipoComprobante">
                                                <th mat-header-cell *matHeaderCellDef >Tipo</th>
                                                <td mat-cell *matCellDef="let element"> {{element.TipoComprobante}}</td>
                                            </ng-container>

                                            <ng-container matColumnDef="formaPago">
                                                <th mat-header-cell *matHeaderCellDef >Forma Pago</th>

                                                <td mat-cell *matCellDef="let element"> 
                                                    <mat-form-field floatLabel="never">                       
                                                        <mat-label>Forma Pago</mat-label>
                                                        <mat-select required placeholder="Forma Pago" [value]="element.idFormasPago" id="idFormasPago" name="idFormasPago" (selectionChange)="Cambio($event,element,'idFormasPago')" disabled><!-- [disabled]="blockInput" -->
                                                            <mat-option value="option2" disabled>- Seleccione Opción -</mat-option>
                                                            <mat-option *ngFor="let pago of formasPagos" [value]="pago.id">
                                                                {{pago.descripcion}}
                                                            </mat-option>
                                                        </mat-select>                      
                                                    </mat-form-field>
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="CuentaPago">
                                                <th mat-header-cell *matHeaderCellDef >Cuenta Pago</th>
                                                <td mat-cell *matCellDef="let element"> 
                                                    <mat-form-field floatLabel="never">                                                                              
                                                        <mat-label>Cuenta Pago</mat-label>
                                                        <mat-select required placeholder="Cuenta Pago" [value]="element.idCuenta" id="idCuenta" name="idCuenta" (selectionChange)="Cambio($event,element,'idCuenta')"  [disabled]="blockInput" [disabled]="element.blockCaptura" [disabled]="element.bloFormaPag">
                                                            <mat-option value="option2" disabled>- Seleccione Opción -</mat-option>
                                                            <mat-option *ngFor="let cta of cuenta" [value]="cta.idCuenta">
                                                                {{cta.descripcionTipoCuenta}}-{{cta.siglasBanco}}
                                                            </mat-option>
                                                        </mat-select>                      
                                                    </mat-form-field>
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="subtotal">
                                                <th mat-header-cell *matHeaderCellDef  width ="5%" >Importe</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.subtotal | currency:"MXN":"symbol"}}  </td>
                                            </ng-container>

                                            <ng-container matColumnDef="total">
                                                <th mat-header-cell *matHeaderCellDef  width ="5%" >Total</th>
                                                    <td mat-cell *matCellDef="let element">{{element.total | currency:"MXN":"symbol"}}  </td>
                                            </ng-container>

                                            <ng-container matColumnDef="montoAprobado">
                                                <th mat-header-cell *matHeaderCellDef  width ="5%" >A Autorizar</th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <mat-form-field floatLabel="never" class="input-tam">   
                                                            <div *ngIf='bloqColab===1'>
                                                                <input  type="number" matInput  id="montoAprobado" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="1" name="montoAprobado" [value]="element.montoAprobado" (focusout)="Cambio($event,element,'montoAprobado')" [disabled]="blockInput" [disabled]="element.blockCaptura" [disabled]="element.bloFormaPag" >
                                                            </div> 
                                                            <div *ngIf='bloqColab!=1'>
                                                                <input  type="number" matInput  id="montoAprobado" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="1" name="montoAprobado" [value]="element.montoAprobado" disabled >
                                                            </div> 
                                                            
                                                        </mat-form-field>
                                                    </td>
                                            </ng-container>

                                            <ng-container matColumnDef="valido">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> En Política </th>
                                                <td mat-cell *matCellDef="let element">
                                                  <div *ngIf='element.valido===1' >
                                                    <span class="verde" > <mat-icon >done</mat-icon> </span>
                                                  </div>
                                                  <div *ngIf='element.valido===0' >
                                                    <span class="rojo" > <mat-icon  >close</mat-icon> </span>
                                                  </div> 
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="estatus">
                                                <th mat-header-cell *matHeaderCellDef > Estatus </th>
                                                <td mat-cell *matCellDef="let element">
                                                <!--
                                                  <div *ngIf='element.automatico===1 && element.montoAprobado > 0 ' >
                                                    <span class="verde" > {{element.estatus}}  </span>
                                                  </div>
                                                 -->
                                                  <div *ngIf='element.automatico===2' >
                                                    <span class="rojo" > {{element.estatus}}  </span>
                                                  </div>  
                                                  <div *ngIf='element.automatico!== 1 && element.automatico !== 2 && element.estatus!= "Aprobado" && element.estatus!= "Pagado"' >
                                                    <span class="gris"> {{element.estatus}}  </span>
                                                  </div>
                                                  <div *ngIf='element.automatico== 1 && element.montoAprobado == 0 ' >
                                                    <span class="azul"> {{element.estatus}}  </span>
                                                  </div>
                                                  <div *ngIf='element.estatus== "Aprobado" || element.estatus== "Pagado" ' >
                                                    <span class="azul"> {{element.estatus}}  </span>
                                                  </div>
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="Acciones">
                                                <th mat-header-cell *matHeaderCellDef >    Acciones</th>
                                                <td mat-cell *matCellDef="let element">                                                    
                                                    <button *ngIf='bloqColab===1' mat-raised-button class="arriba2" color="success" (click)=aprobarComprobante(element) [disabled]="blockInput"  [disabled]="element.blockPolitica" ><mat-icon class="verde">task_alt</mat-icon></button>
                                                    <button *ngIf='bloqColab===1' mat-raised-button class="arriba2" color="success" (click)=cancelarComprobante(element) [disabled]="blockInput" [disabled]="element.blockCaptura" ><mat-icon class="rojo">highlight_off</mat-icon></button>
                                                    <!-- <button mat-raised-button class="arriba2" color="success" (click)=editarComprobante(element) [disabled]="blockInput"  [disabled]="element.blockPolitica" ><mat-icon class="primario">edit</mat-icon></button> -->
                                                    <button mat-raised-button class="arriba2" color="success" (click)=eliminarComprobante(element)  [disabled]="blockInput" [disabled]="element.blockCaptura" ><mat-icon class="azul">delete</mat-icon></button>
                                                </td>
                                            </ng-container>                        
                                          
                                              <!-- Detalles o sub tabla-->
                                              <ng-container matColumnDef="expandedDetail">
                                                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                                          
                                                  <div class="row student-element-detail" [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'">
                                                    <div class="table-responsive">
                        
                                                        <table mat-table [dataSource]="element.detalle" matSort class="table employee-list no-wrap">
                                                            <ng-container matColumnDef="descripcion">
                                                                <th mat-header-cell *matHeaderCellDef  width ="10%" mat-sort-header> Concepto</th>
                                                                <td mat-cell *matCellDef="let detalle"> {{detalle.descripcion}}</td>
                                                            </ng-container>
                        
                                                            <ng-container matColumnDef="cantidad">
                                                                <th mat-header-cell *matHeaderCellDef width ="5%" mat-sort-header> Cantidad</th>
                                                                <td mat-cell *matCellDef="let detalle"> {{detalle.cantidad}}</td>
                                                            </ng-container>
                        
                                                            <ng-container matColumnDef="unidadMedida">
                                                                <th mat-header-cell *matHeaderCellDef width ="5%" mat-sort-header> Unidad</th>
                                                                <td mat-cell *matCellDef="let detalle"> {{detalle.unidadMedida}}</td>
                                                            </ng-container>

                                                            <ng-container matColumnDef="montoIeps">
                                                                <th mat-header-cell *matHeaderCellDef width ="5%" mat-sort-header> Monto IEPS</th>
                                                                <td mat-cell *matCellDef="let detalle"> {{detalle.montoIeps}}</td>
                                                            </ng-container>
                        
                                                            <ng-container matColumnDef="montoIva">
                                                                <th mat-header-cell *matHeaderCellDef width ="5%" mat-sort-header> Monto IVA</th>
                                                                <td mat-cell *matCellDef="let detalle"> {{detalle.montoIva}}</td>
                                                            </ng-container>
                        
                                                            <ng-container matColumnDef="precioUnitario">
                                                                <th mat-header-cell *matHeaderCellDef width ="5%" mat-sort-header>Precio U.</th>
                                                                <td mat-cell *matCellDef="let detalle"> {{detalle.precioUnitario}}</td>
                                                            </ng-container>
                        
                                                            <ng-container matColumnDef="descuento">
                                                                <th mat-header-cell *matHeaderCellDef width ="5%" mat-sort-header> Descuento</th>
                                                                <td mat-cell *matCellDef="let detalle"> {{detalle.descuento}}</td>
                                                            </ng-container>
                        
                                                            <ng-container matColumnDef="importe">
                                                                <th mat-header-cell *matHeaderCellDef  width ="5%" mat-sort-header>Importe</th>
                                                                    <td mat-cell *matCellDef="let detalle">{{detalle.importe | currency:"MXN":"symbol"}}</td>
                                                            </ng-container>
                        
                                                            <ng-container matColumnDef="montoAprobado">
                                                                <th mat-header-cell *matHeaderCellDef  width ="5%" mat-sort-header>Monto Aprob</th>
                                                                    <td mat-cell *matCellDef="let detalle">{{detalle.montoAprobado | currency:"MXN":"symbol"}} </td>
                                                            </ng-container>

                                                            <ng-container matColumnDef="Acciones">
                                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                                                                <td mat-cell *matCellDef="let detalle">
                                                                    <button mat-raised-button class="arriba2" color="success" (click)="gestionDetalle(detalle,'aprobar')" [disabled]="blockInput"><mat-icon class="verde">task_alt</mat-icon></button>
                                                                    <button mat-raised-button class="arriba2" color="success" (click)="gestionDetalle(detalle,'rechazar')" [disabled]="blockInput"><mat-icon class="rojo">highlight_off</mat-icon></button>

                                                                    <!--<a (click)=editarDetalle(detalle)><mat-icon class="primario">edit</mat-icon></a>-->
                                                                </td>
                                                            </ng-container>                                        
                                                            
                                                            <tr mat-header-row *matHeaderRowDef="detalleColumns"></tr>
                                                            <tr mat-row *matRowDef="let row; columns: detalleColumns;"></tr>
                                                        </table>
                                                        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                                                    </div>
                        
                                                        <!-- <div mat-subheader>Subjects of {{element.name}}</div>
                        
                                                    <mat-list>                                                              
                                                      <mat-list-item *ngFor="let subject of element.subjects">
                                                        <div mat-line>{{subject.name}}</div>
                                                        <div mat-line> {{subject.type}} | Grade: {{subject.grade}}</div>
                                                      </mat-list-item>
                                                    </mat-list>
                        
                                                        -->
                        
                                                  </div>
                                          
                                                </td>
                                              </ng-container>                                          
                                          
                                              <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                                              <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="student-element-row"
                                                [class.student-expanded-row]="element.isExpanded"></tr>
                                          
                                              <!-- Extra row to show detail content column -->
                                              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="student-detail-row"></tr>
                                      
                                        </table>
                                        <mat-paginator #paginator="matPaginator" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                            </div>
                        </div>
                    </div>
                    
                    <mat-action-row>
                        <button mat-raised-button color="warn" (click)="prevStep()">&nbsp;&nbsp;&nbsp;Previo&nbsp;&nbsp;&nbsp;</button>
                        <button mat-raised-button color="primary" (click)="nextStep()">Siguiente</button>
                    </mat-action-row>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <b>Totales</b>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        
                        <div fxLayout="row wrap">
                            <div fxFlex="100">
                                <div class="example-container mat-elevation-z3">
                                <mat-card>
                                    <mat-card-content>
                                    <div class="table-responsive">
                                            <table mat-table #sort1="matSort" [dataSource]="totalesTabla"  matSort class="table">
                                                
                                                <ng-container matColumnDef="Tipogastos">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Gasto</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.Tipogastos}}</td>
                                                    <td mat-footer-cell *matFooterCellDef> Total </td>
                                                </ng-container>
    
                                                <ng-container matColumnDef="Montototal">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Autorizado</th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <span> {{element.Montototal | currency:"MXN":"symbol"}} </span>                                                        
                                                    
                                                    </td>
                                                    <td mat-footer-cell *matFooterCellDef> {{concepDetalle.totGaMontoAutorizado | currency:"MXN":"symbol"}}  </td>
                                                </ng-container>
    
                                                <tr mat-header-row *matHeaderRowDef="totalColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: totalColumns;"></tr>
                                                <tr mat-footer-row *matFooterRowDef="totalColumns"></tr>
                                            </table>
                                            <mat-paginator #paginator1="matPaginator" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                                </div>
                            </div>
                        </div>

                        <div fxLayout="row wrap">
                            <div fxFlex="100">
                                <table class="mat-table table employee-list no-wrap" >
                                    <tr class="mat-header-row">
                                        <th class="mat-header-cell">Conceptos</th>
                                        <th class="mat-header-cell">Monto Comprobado</th>
                                        <th class="mat-header-cell">Monto Autorizado</th>
                                    </tr>
                                    <tr class="mat-row">
                                        <td class="mat-cell"><b>Anticipos</b></td>
                                        <td class="mat-cell">
                                            <span> {{concepDetalle.antMontocomprobado | currency:"MXN":"symbol"}} </span>
                                        </td>
                                        <td class="mat-cell">
                                            <span> {{concepDetalle.antMontoAutorizado | currency:"MXN":"symbol"}} </span>
                                        </td>
                                    </tr>
                                    <tr class="mat-row">
                                        <td class="mat-cell"><b>Total de Gastos</b></td>
                                        <td class="mat-cell">
                                            <span> {{concepDetalle.totGaMontocomprobado | currency:"MXN":"symbol"}} </span>
                                        </td>
                                        <td class="mat-cell">
                                            <span> {{concepDetalle.totGaMontoAutorizado | currency:"MXN":"symbol"}} </span>
                                        </td>
                                    </tr>
                                    <tr class="mat-row">
                                        <td class="mat-cell"><b>Solicitud de Reembolso</b></td>
                                        <td class="mat-cell">
                                           </td>
                                        <td class="mat-cell">
                                            
                                         </td>
                                    </tr>
                                    <tr class="mat-row">
                                        <td class="mat-cell">
                                            <div *ngIf='concepDetalle.reemMontoAutorizado > concepDetalle.devoMontoAutorizado' >
                                                <b><a (click)="ReembDevo(concepDetalle,'1')" class="m-r-10 cursor-pointer">RR-ID <span class="verde" > <mat-icon >done</mat-icon> </span> </a> </b>
                                            </div>
                                            <div *ngIf='concepDetalle.reemMontoAutorizado < concepDetalle.devoMontoAutorizado' >
                                                <b>RR-ID</b>
                                            </div>
                                        
                                        </td>
                                        <td class="mat-cell">
                                           
                                        </td>
                                        <td class="mat-cell">
                                         <span> {{concepDetalle.reemMontoAutorizado | currency:"MXN":"symbol"}} </span>
                                        </td>
                                    </tr>
                                    <tr class="mat-row">
                                        <td class="mat-cell"><b>Solicitud de Devolución</b></td>
                                        <td class="mat-cell">
                                             </td>
                                        <td class="mat-cell">
                                           
                                         </td>
                                    </tr>
                                    <tr class="mat-row">
                                        <td class="mat-cell">
                                            <div *ngIf='concepDetalle.devoMontoAutorizado > concepDetalle.reemMontoAutorizado' >
                                                <b><a (click)="ReembDevo(concepDetalle,'2')" class="m-r-10 cursor-pointer">RF-ID <span class="verde" > <mat-icon >done</mat-icon> </span></a> </b>
                                            </div>
                                            <div *ngIf='concepDetalle.devoMontoAutorizado < concepDetalle.reemMontoAutorizado'>
                                                <b>RF-ID</b>
                                            </div>                                           
                                        </td>
                                        <td class="mat-cell">
                                           
                                        </td>
                                        <td class="mat-cell">
                                           <span> {{concepDetalle.devoMontoAutorizado | currency:"MXN":"symbol"}} </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <mat-action-row>
                            <button mat-raised-button color="warn" (click)="prevStep()">Previo</button>
                            <button mat-raised-button color="primary" (click)="nextStep()">&nbsp;Final&nbsp;</button>
                        </mat-action-row>
                        </mat-expansion-panel>
                
            
                </mat-accordion>
            </mat-tab>
            <mat-tab label="Historial"> 
                <div class="table-responsive">
                    <table mat-table [dataSource]="Historial" #sorth="matSort" matSort class="table employee-list no-wrap">
                        <ng-container matColumnDef="fechaRegistro">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha/Hora de Registro </th>
                                <td mat-cell *matCellDef="let element"> {{element.fechaRegistro | date :'dd/MMM/yyyy'}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="idUser">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario</th>
                                <td mat-cell *matCellDef="let element"> {{element.idUser}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="evento">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Evento</th>
                                <td mat-cell *matCellDef="let element"> {{element.evento}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="estatus">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
                                <td mat-cell *matCellDef="let element"> {{element.estatus}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="comentarios">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Comentarios</th>
                                <td mat-cell *matCellDef="let element"> {{element.comentarios}} </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="histColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: histColumns;"></tr>
                    </table>
                    <mat-paginator #paginatorh="matPaginator" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </mat-tab>
        </mat-tab-group>
        
        </form>
    </div>
</div>

