<div class="sideL"> 
    <div class="page-breadcrumb p-t-5 p-b-5 p-l-5 p-r-5">
        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" class="align-self-center">
                <h3 class="page-title text-themecolor m-0"><b>Transacción de Pago</b></h3>
            </div>
            <div fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="100" class="align-self-center">
                <div class="breadcrumb d-flex align-items-center float-right float-sm-left">             
                    <ul class="list-style-none d-flex align-items-center">
                        <li class="breadcrumb-item ">
                            <h5 class="m-0"><b>{{Transaccion.estatus}}</b> </h5> 
                        </li>
                        <li class="breadcrumb-item abajo" >
                            <mat-form-field appearance="outline" class="p-r-15 m-r-15 abajo">                         
                                <mat-label>Siguiente Tarea</mat-label>
                                <mat-select placeholder=""  [(ngModel)]="Transaccion.estatus" (selectionChange)="cambiaWork($event,Transaccion)" name="SelEstatus" placeholder="Workflow" [disabled]="bloqueoWf=='0'"  >
                                    <mat-option value=" " disabled>- Siguiente Taréa -</mat-option>
                                    <mat-option *ngFor="let work of workInicial" [value]="work.siguienteEstatus">
                                        {{work.opcion}}
                                    </mat-option>
                                </mat-select>
                        </mat-form-field>
                        </li>
                        <!-- <li class="breadcrumb-item" >
                            <button mat-raised-button class="arriba2" color="primary" (click)=guardaTrans() [disabled]="btnGda !== '1'"> <mat-icon>save</mat-icon> </button>
                        </li> -->
                        <li class="breadcrumb-item" >
                            <button mat-raised-button (click)=cerrarTransaccion() color="warn"> <mat-icon>highlight_off</mat-icon> </button>                         
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="align-self-center">
        <h4><b>&nbsp;<br></b> </h4>
    </div>
</div>
<div fxLayout="row wrap">
<div fxFlex="100">       
    <form #userForm="ngForm">
    <mat-tab-group>
        <mat-tab label="Datos"> 
            <div fxLayout="row wrap"> <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="align-self-center">  <h4><b>&nbsp;<br></b> </h4></div></div>

            <div fxLayout="row wrap" class="align-items-center">

                <div fxFlex="100" fxFlex.gt-xs="50">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15" floatLabel="always">
                            <mat-label>Empresa</mat-label>
                            <mat-select required  [(ngModel)]="Transaccion.idEmpresa" id="idEmpresa" name="idEmpresa"  [disabled]="bloqueo">
                                <mat-option value="option2" disabled>- Seleccione Opción -</mat-option>
                                <mat-option *ngFor="let emp of Empresas" [value]="emp.id">
                                    {{emp.clave}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <!-- 
                
                -->
                <div fxFlex="100" fxFlex.gt-xs="50">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15">                         
                            <mat-label>Moneda de Pago</mat-label>
                            <mat-select required placeholder="Moneda" [(ngModel)]="Transaccion.idMoneda" id="idMoneda" name="idMoneda"  (selectionChange)="cambiaMoneda($event,Transaccion)" disabled><!-- [disabled]="!bloqueo"  [disabled]="cerrado"-->
                                <mat-option *ngFor="let moned of MonedaL" [value]="moned.id">
                                    {{moned.clave}}
                                </mat-option>
                            </mat-select>                      
                        </mat-form-field> 
                    </div>
                </div>
                	
                <div fxFlex="100" fxFlex.gt-xs="50">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15">                         
                            <mat-label>Proyecto</mat-label>
                            <mat-select required placeholder="Proyecto" [(ngModel)]="Transaccion.idProyecto" id="idProyecto" name="idProyecto" [disabled]="bloqueo" >
                                <mat-option value="option2" disabled>- Seleccione Opción -</mat-option>
                                <mat-option *ngFor="let proy of Proyectos" [value]="proy.idProyecto">
                                    {{proy.descripcionProyecto}}
                                </mat-option>
                            </mat-select>                      
                        </mat-form-field> 
                    </div>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="50">
                    <div class="m-r-15 m-l-15">
                    <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                        <mat-label> Tipo de Cambio </mat-label>
                        <input required type="text" matInput id="TipoCambio" name="TipoCambio" [(ngModel)]="Transaccion.TipoCambio" placeholder="TipoCambio" [disabled]="bloqueoMoneda" >
                    </mat-form-field>
                    </div>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="50">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15" floatLabel="always">
                            <mat-label>Centro de Costos</mat-label>
                            <mat-select required placeholder="Centro de Costos"
                                [(ngModel)]="Transaccion.idCentrosCostos" id="idCentrosCostos" name="idCentrosCostos" [disabled]="bloqueo">
                                <mat-option value="option2" disabled>- Seleccione Opción -</mat-option>
                                <mat-option *ngFor="let centro of CentroCosto"
                                    [value]="centro.idCentrosCostos">
                                    {{centro.descripcionCentrosCostos}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="50">
                    <div class="m-r-15 m-l-15">
                    <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                        <mat-label>Banco Emisor</mat-label>
                     <!--  <input type="text" matInput id="BancoEmisor" name="BancoEmisor" [(ngModel)]="Transaccion.BancoEmisor" placeholder="Banco Emisor">--> 
                        <mat-select required placeholder="Banco Emisor" [(ngModel)]="Transaccion.BancoEmisor" (selectionChange)="cambiaEmp($event,Transaccion)" id="BancoEmisor" name="BancoEmisor"   [disabled]="bloqueoBanco">
                            <mat-option value="option2" selected aria-selected="true" disabled>- Seleccione Opción -</mat-option>
                            <mat-option *ngFor="let nbanco of NomBancos" [value]="nbanco.id">
                                {{nbanco.siglas}}
                            </mat-option>
                        </mat-select>    
                    </mat-form-field>
                    </div>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="50">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                            <mat-label>ID Colaborador</mat-label>
                            <input type="text" matInput id="IdColaborador" name="IdColaborador" [(ngModel)]="Transaccion.idUser" placeholder="ID Colaborador" [disabled]="bloqueo">
                        </mat-form-field>   
                    </div>   
                </div>
                
                <div fxFlex="100" fxFlex.gt-xs="50">
                    <div class="m-r-15 m-l-15">
                    <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                        <mat-label>Cuenta Emisora</mat-label>
                        <mat-select required placeholder="Cuenta Emisora" [(ngModel)]="Transaccion.cuentaEmisor" id="cuentaEmisor" name="cuentaEmisor"   [disabled]="bloqueoCuenta">
                            <mat-option *ngFor="let cuent of Cuenta" [value]="cuent.cuenta">
                                {{cuent.cuenta}}
                            </mat-option>
                        </mat-select>    
                    </mat-form-field>
                    </div>
                </div>                 
                
                    <!-- 
                 
                    -->
                    <div fxFlex="100" fxFlex.gt-xs="50">
                        <div class="m-r-15 m-l-15">
                            <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                                <mat-label>Nombre</mat-label>
                                <input type="text" matInput id="nombre" name="nombre" [(ngModel)]="Transaccion.NombreCompleto" placeholder="Nombre" [disabled]="bloqueo">
                            </mat-form-field>   
                        </div>   
                    </div>

                    <div fxFlex="100" fxFlex.gt-xs="50">
                        <div class="m-r-15 m-l-15">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                            <mat-label> ID Pago</mat-label>
                            <input type="text" matInput id="IdPago" name="IdPago" [(ngModel)]="Transaccion.idPago" placeholder="ID Pago" [disabled]="bloqueo">
                        </mat-form-field>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-xs="50">
                        <div class="m-r-15 m-l-15">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                            <mat-label> Moneda Transacción </mat-label>
                            <input type="text" matInput id="moneda" name="moneda" [(ngModel)]="Transaccion.moneda" placeholder="moneda" [disabled]="bloqueo">
                        </mat-form-field>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-xs="50">
                        <div class="m-r-15 m-l-15">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                            <mat-label> Monto de Pago</mat-label>
                            <input required type="number" matInput id="MontoPago" name="MontoPago" [(ngModel)]="Transaccion.MontoPago" [disabled]="bloqueoMonto" (keyup)="Cambio($event,Transaccion)" placeholder="Monto de Pago" >
                        </mat-form-field>
                        </div>
                    </div>                    
                    <div fxFlex="100" fxFlex.gt-xs="50">
                        <div class="m-r-15 m-l-15">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                            <mat-label>Tipo de Transacción</mat-label>
                            <input type="text" matInput id="tipoTransaccion" name="tipoTransaccion" [(ngModel)]="Transaccion.tipoTransaccion" placeholder="Tipo de Transacción" [disabled]="bloqueo">
                        </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex="100" fxFlex.gt-xs="50">
                        <div class="m-r-15 m-l-15">
                            <mat-form-field appearance="outline" class="p-r-15 m-r-15">                         
                                <mat-label>Forma de Pago</mat-label>
                                <mat-select required placeholder="Forma de Pago" [(ngModel)]="Transaccion.idFormaPago" id="idFormaPago" name="idFormaPago" (selectionChange)="cambiaFormaPago($event,Transaccion)" [disabled]="cerrado">
                                    <mat-option *ngFor="let forma of formaPagos" [value]="forma.id">
                                        {{forma.descripcion}}
                                    </mat-option>
                                </mat-select>                      
                            </mat-form-field> 
                        </div>
                    </div>
                    
                    <div fxFlex="100" fxFlex.gt-xs="50">
                        <div class="m-r-15 m-l-15">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                            <mat-label>ID Tipo de Transacción</mat-label>
                            <input type="text" matInput id="IdTipoTransaccion" name="IdTipoTransaccion" [(ngModel)]="Transaccion.id" placeholder="ID Tipo de Transacción" [disabled]="bloqueo">
                        </mat-form-field>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-xs="50">
                        <div class="m-r-15 m-l-15">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                            <mat-label>Fecha de Registro del Pago</mat-label>
                            <input type="text" matInput id="creada" name="creada" [(ngModel)]="Transaccion.creada" placeholder="Fecha de Registro del Pago" [disabled]="bloqueo" >
                        </mat-form-field>
                        </div>
                    </div>
                    
                    <div fxFlex="100" fxFlex.gt-xs="50">
                        <div class="m-r-15 m-l-15">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                            <mat-label>Monto de Transacción</mat-label>
                            <input type="text" matInput id="monto" name="monto" [(ngModel)]="Transaccion.montos" placeholder="Monto de Transacción" [disabled]="bloqueo"> 
                        </mat-form-field>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-xs="50">
                        <div class="m-r-15 m-l-15">
                            <mat-form-field appearance="outline" class="p-r-15 m-r-15" floatLabel="always">         
                                <mat-label>Fecha de Aplicación del Pago</mat-label>
                                <input matInput [(ngModel)]="Transaccion.fechaAplicacion" [matDatepicker]="fechaAplicacion"  name="fechaAplicacion" [disabled]="!bloqueo" [disabled]="cerrado">                      
                                <mat-datepicker-toggle matSuffix [for]="fechaAplicacion"></mat-datepicker-toggle>
                                <mat-datepicker #fechaAplicacion></mat-datepicker>
                            </mat-form-field> 
                        </div>  
                    </div>

                    <div fxFlex="100" fxFlex.gt-xs="50">
                        <div class="m-r-15 m-l-15">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                            <mat-label>Fecha de Aprobación</mat-label>
                            <input type="text" matInput id="FechaAprobacionN" name="FechaAprobacionN" [(ngModel)]="Transaccion.FechaAprobacionN" placeholder="Fecha de Aprobacion" [disabled]="bloqueo">
                        </mat-form-field>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-xs="50">
                        <div class="m-r-15 m-l-15">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                            <mat-label>Referencia de Pago</mat-label>
                            <input required type="text" matInput id="ReferenciaPago" name="ReferenciaPago" [(ngModel)]="Transaccion.ReferenciaPago" [disabled]="bloqueofPago" placeholder="Referencia Pago"  [disabled]="!bloqueo"  [disabled]="cerrado">
                        </mat-form-field>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-xs="50">
                        <div class="m-r-15 m-l-15">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                            <mat-label>Saldo Pendiente de Pago</mat-label>
                            <input type="text" matInput id="montoPendiente" name="montoPendiente" [(ngModel)]="Transaccion.montoPendientes" placeholder="Saldo Pendiente de Pago" [disabled]="bloqueo">
                        </mat-form-field>
                        </div>
                    </div>


                  <!--  
                      <div fxFlex="100" fxFlex.gt-xs="50">
                        <div class="m-r-15 m-l-15">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                            <mat-label>Banco Receptor</mat-label>
                            <input type="text" matInput id="BancoReceptor" name="BancoReceptor" [(ngModel)]="Transaccion.BancoReceptor" placeholder="Banco Receptor">
                        </mat-form-field>
                        </div>
                    </div>-->

                    <div fxFlex="100" fxFlex.gt-xs="50">
                        <div class="m-r-15 m-l-15">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                            <mat-label>Folio</mat-label>
                            <input required type="text" matInput id="Folio" name="Folio" [(ngModel)]="Transaccion.Folio" placeholder="Folio" [disabled]="bloqueofPago" [disabled]="!bloqueo" [disabled]="cerrado">
                        </mat-form-field>
                        </div>
                    </div> 

                    <div fxFlex="100" fxFlex.gt-xs="50">
                        <div class="m-r-15 m-l-15">
                            <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                                <mat-label>Banco Receptor</mat-label>
                            <!--  <input type="text" matInput id="BancoEmisor" name="BancoEmisor" [(ngModel)]="Transaccion.BancoEmisor" placeholder="Banco Emisor">--> 
                                <mat-select required placeholder="Banco Receptor" [(ngModel)]="Transaccion.idBanco" id="idBanco" name="idBanco" [disabled]="bloqueo" >
                                    <mat-option *ngFor="let nbancores of BancosRecp" [value]="nbancores.id">
                                        {{nbancores.siglas}}
                                    </mat-option>
                                </mat-select>    
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex="100" fxFlex.gt-xs="50">
                        <div class="m-r-15 m-l-15">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                            <mat-label>Clave de Rastreo</mat-label>
                            <input required type="text" matInput id="ClaveRastreo" name="ClaveRastreo" [(ngModel)]="Transaccion.ClaveRastreo" placeholder="Clave Rastreo" [disabled]="bloqueofPago"  [disabled]="!bloqueo" [disabled]="cerrado">
                        </mat-form-field>
                        </div>
                    </div> 
                  <!--  <div fxFlex="100" fxFlex.gt-xs="50">
                        <div class="m-r-15 m-l-15">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                            <mat-label>Cuenta Receptor</mat-label>
                            <input type="text" matInput id="CuentaReceptor" name="CuentaReceptor" [(ngModel)]="Transaccion.CuentaReceptor" placeholder="Cuenta Receptor">
                        </mat-form-field>
                        </div>
                    </div>-->
                    <div fxFlex="100" fxFlex.gt-xs="50">
                        <div class="m-r-15 m-l-15">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                            <mat-label>Cuenta Receptor</mat-label>
                            <input type="text" matInput id="cuenta" name="cuenta" [(ngModel)]="Transaccion.cuenta" placeholder="Cuenta Receptor" [disabled]="bloqueo"> 
                        </mat-form-field>
                        </div>
                    </div>    
                    <div fxFlex="100" fxFlex.gt-xs="50">
                        <div class="m-r-15 m-l-15">
                            <mat-form-field appearance="outline" class="p-r-15 m-r-15" floatLabel="always">         
                                <mat-label>Fecha de Conciliación</mat-label>
                                <input matInput [(ngModel)]="Transaccion.fechaRegistroTrans" [matDatepicker]="FechaConciliacion"  name="FechaConciliacion" [disabled]="bloqueo">                      
                                <mat-datepicker-toggle matSuffix [for]="FechaConciliacion"></mat-datepicker-toggle>
                                <mat-datepicker #FechaConciliacion></mat-datepicker>
                            </mat-form-field>                             
                        </div>
                    </div>  
                    <div fxFlex="100" fxFlex.gt-xs="100">
                        <div class="m-r-15 m-l-15">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                            <mat-label>Observaciones</mat-label>
                            <input type="text" matInput id="Observaciones" name="Observaciones" [(ngModel)]="Transaccion.Observaciones" placeholder="Observaciones"  [disabled]="!bloqueo" [disabled]="cerrado">
                        </mat-form-field>
                        </div>
                    </div> 

                <!--
                <mat-action-row>
                    <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
                </mat-action-row>-->
                
            </div>
        </mat-tab>
        <mat-tab label="Comprobante">
            <div class="table-responsive">
                <mat-card-content>
                    <table class="table table-striped">
                        <thead>
                        <tr>   <th scope="col">Documento PDF</th>  </tr>
                        </thead>
                        <tbody>
                        <tr> <td> <div class="d-flex align-items-center m-b-15"> {{Transaccion.rutaComprobante}} </div></td> </tr>
                        </tbody>
                    </table> 
                    <div class="d-flex align-items-center m-b-15">
                        <form (ngSubmit)="enviar()">
                            <div fxLayout="row wrap" class="align-items-center">
                                <div fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100"  class="d-flex align-items-center m-b-15"> 
                                    <label for="file"  class="m-l-15 mat-raised-button mat-button-base mat-primary p-5 p-l-15 p-r-15">{{Transaccion.rutaComprobante || 'Seleccione archivo'}}</label>
                                    <input #inputPdf 
                                            id="file" 
                                            name="file" 
                                            type="file" 
                                            class="form-control"                                                    
                                            style="visibility:hidden; display: none;" 
                                            accept="application/pdf"
                                            (change)="cargaArchivoPDF1($event)"                                             
                                            [disabled]="siPDF"
                                            #fileUpload>
                                </div>
                            </div>                                
                        </form>                              
                    </div> 
                    <mat-card>
                        <ng-container *ngIf="Transaccion.rutaComprobante===null;  then sinArch; else conArch">
                        </ng-container>                
                        <ng-template #sinArch>
                            <h4>No se cuenta con vista previa debido a que no se ha cargado ningín comprobante PDF.</h4>
                        </ng-template>                                
                        <ng-template #conArch>
                            <div fxLayout="row wrap" class="align-items-center">
                                <div fxFlex="33" fxFlex.gt-xs="33">
                                     <button mat-raised-button color="primary" (click)="pdf()">
                                        <mat-icon>download_for_offline</mat-icon> Descargar
                                    </button>  
                                </div>
                                <div fxFlex="33" fxFlex.gt-xs="33">
                                    <!--<button mat-raised-button color="primary" (click)="delPdf()"  [disabled]="bloqueoCuenta">
                                        <mat-icon>delete</mat-icon> Eliminar
                                    </button>-->
                                </div>
                                <div fxFlex="33" fxFlex.gt-xs="33">
                                    <button mat-mini-fab color="primary" (click)="incrementZoom(-0.1)">
                                        <mat-icon>zoom_out</mat-icon>
                                    </button>
                                    <button mat-mini-fab color="primary" (click)="incrementZoom(0.05)">
                                        <mat-icon>zoom_in</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="pdf-viewer">
                                <pdf-viewer 
                                    [src]="FileUrlPDF" 
                                    [original-size]="false"
                                    [render-text]="true"
                                    [rotation]="0"
                                    [show-all]="false"
                                    [fit-to-page]="false"
                                    [external-link-target]="'blank'"
                                    [autoresize]="true"
                                    [show-borders]="false"
                                    class="pdf-viewer"
                                    >
                                </pdf-viewer>
                            </div>
                        </ng-template>
                    </mat-card>
                </mat-card-content>
            </div>
                            
        </mat-tab>
        <mat-tab label="Historial"> 
            <div class="table-responsive">
                <table mat-table [dataSource]="Historial" matSort class="table employee-list no-wrap">
                    <ng-container matColumnDef="fechaRegistro">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha/Hora de Registro </th>
                            <td mat-cell *matCellDef="let element"> {{element.fechaRegistro | date :'dd/MMM/yyyy'}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="idUser">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario</th>
                            <td mat-cell *matCellDef="let element"> {{element.idUser}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="evento">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Evento</th>
                            <td mat-cell *matCellDef="let element"> {{element.evento}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="estatus">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
                            <td mat-cell *matCellDef="let element"> {{element.estatus}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="comentarios">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Comentarios</th>
                            <td mat-cell *matCellDef="let element"> {{element.comentarios}} </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="histColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: histColumns;"></tr>
                </table>
                <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </mat-tab>
    </mat-tab-group>
    
    </form>
</div>
</div>
